* {
    transition: color 0.7s, background 0.7s;
}

body {
    font-family: 'Gilam', sans-serif;  
    font-family: 'Circe', sans-serif;
    box-sizing: border-box;
    background: url(../img/parallax\ background\ 1.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.container {
    max-width: 1460px;
    width: 100%;
    margin: 0 auto;
}

#theme-toggle-btn {
    margin-top: 10px;
    padding: 10px;
    cursor: pointer;
    background-color: red;
    color: wheat;
    border-radius: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header_logo {
    width: 216px;
    height: 33px;
    padding-top: 46px;
    padding-bottom: 128px;
}

.header_link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    margin-top: 37px;
    margin-bottom: 120px;
    color: #E4B564;
    border: 1px solid #E4B564;
    text-decoration: none;
}

.icon_phone {
    padding: 17px 8px 17px 25px; 
}

.icon_text {
    padding: 10px 25px 10px 0;
}

.content_titles {
    display: flex;
    align-items: center;
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
}

.networks_content_text {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    width: 1182px;
    padding-top: 41px;
    padding-bottom: 41px;
}

.grid_container_networks {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 27px;
    grid-column-gap: 30px;
}

.grid_container_networks > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}

.grid_element_excavation {
    grid-area: 1 / 1 / 2 / 3;
    width: 467px;
    height: 468px;
    background: #634F2C;
}

.grid_element_pipelines {
    grid-area: 1 / 3 / 2 / 5;
    width: 467px;
    height: 468px;
    background: #B4A385;
} 

.grid_element_channels {
    grid-area: 1 / 5 / 2 / 7;
    width: 467px;
    height: 468px;
    background: #E4B564;
}

.grid_element_supports {
    grid-area: 2 / 1 / 3 / 7;
    background: #635A4A;
    width: 715px;
    height: 468px;
}

.grid_element_wells {
    grid-area: 2 / 4 / 3 / 7;
    background: #B08C4D;
    width: 715px;
    height: 468px;
}

.main_section_park {
    padding-bottom: 192px;
}

.section_park_content {
    padding-top: 161px;
    padding-bottom: 94px;
}

.grid_container_park {
    display: grid;
    grid-template-columns: repeat(3, 467px);
    grid-template-rows: 255px 33px 101px 132px 277px 1px;
    grid-column-gap: 30px;
    grid-row-gap: 26px;
}

.grid_element_sludgemachine {
    grid-area: 1 / 1 / 3 / 2;
    width: 467px;
    height: 313px;
    background: #0E0E0E;
}

.grid_sludgemachine_span {
    display: block;
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    width: 302px;
    height: 50px;
    color: #FFFFFF;
    padding: 44px 113px 219px 52px;
}

.bold_kamaz_span {
    font-weight: bold;
}

.grid_element_sewerwashing {
    grid-area: 1 / 2 / 4 / 3;
    width: 467px;
    height: 439px;
    background: #242424;
}

.grid_sewerwashing_span {
    display: block;
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    width: 302px;
    height: 50px;   
    color: #FFFFFF;
    padding: 44px 114px 345px 51px;
}

.grid_element_backhoeloader {
    grid-area: 1 / 3 / 2 / 4;
    width: 467px;
    height: 255px;
    background: #1F1F1F;
}

.grid_backhoeloader_span {
    display: block;
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    width: 302px;
    color: #FFFFFF;
    padding: 44px 117px 186px 48px;
}

.grid_element_loader {
    grid-area: 3 / 1 / 7 / 2;
    width: 467px;
    height: 560px;
    background: #1F1F1F;
}

.grid_loader_span {
    display: block;
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    width: 302px;
    color: #FFFFFF;
    padding: 56px 113px 479px 52px;
}

.grid_element_excavator {
    grid-area: 4 / 2 / 6 / 3;
    width: 467px;
    height: 405px;
    background: #E4B564;
}

.grid_excavator_span {
    display: block;
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    width: 302px;
    color: #000000; 
    padding: 47px 113px 333px 52px;
}

.grid_element_flatbedcar {
    grid-area: 2 / 3 / 5 / 4;
    width: 467px;
    height: 313px;
    background: #0E0E0E;
}

.grid_flatbedcar_span {
    display: block;
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    width: 302px;
    color: #FFFFFF;
    padding: 44px 117px 244px 48px;
}

.grid_element_roadroller {
    grid-area: 5 / 3 / 7 / 4;
    width: 467px;
    height: 277px;
    background: #0A0909;
}

.grid_roadroller_span {
    display: block;
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    width: 302px;
    color: #FFFFFF;
    padding: 44px 117px 208px 48px;
}

.wrapper_clients {
    width: 100%;
    background-color: #0E0E0E;;
}

.container_clients {
    max-width: 1460px;
    margin: 0 auto;
    margin-bottom: 239px;
}

.clients_content {
    display: flex;
    justify-content: space-between;
}

.clients_title {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    width: 597px;
    color: #FFFFFF;
    padding-top: 172px;
    padding-bottom: 72px;
}

.allproject_link {
    display: block;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-top: 161px;
    margin-bottom: 61px;
}

.allproject_span {
    display: block;
    font-family: 'Circe';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    width: 101px;
    color: #E4B564;
    border: 1px solid #E4B564;
    text-decoration: none;
    padding: 10px 40px;
}

.grid_container_clients {
    display: grid;
    grid-template-columns: repeat(3, 487px);
    grid-template-rows: 391px 391px;
    grid-gap: 0;
}

.grid_container_clients > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid_element_euroinvest {
    grid-area: 1 / 1 / 2 / 2;
    background: #634F2C;
}

.grid_element_mavis {
    grid-area: 1 / 2 / 2 / 3 ;
    background: rgba(232, 210, 171, 0.76);
    cursor: pointer;
}

.mavis_logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo_pic_one {
    display: block;
    width: 62px;
    height: 55px;
    padding: 61px 207px 3px 217px;
}

.logo_pic_two {
    display: block;
    width: 139px;
    height: 55px;
    padding: 3px 174px 0;
}

.mavis_text {
    display: block;
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    width: 326px;
    color: #FFFFFF;
    padding: 16px 80px 61px;
}

.mavis_span_font_weight {
    font-weight: lighter;
}

.grid_element_arsenal {
    grid-area: 1 / 3 / 2 / 4;
    background: #E4B564;
}

.grid_element_arsenalestate {
    grid-area: 2 / 1 / 3 / 2;
    background: #635A4A;
}

.grid_element_setgroup {
    grid-area: 2 / 2 / 3 / 3;
    background: #B08C4D;
}

.grid_element_euroinvestdevelopment {
    grid-area: 2 / 3 / 3 / 4;
    background: #634F2C;
}